<div id="container">

    <br>

    <p>
        Benvenuti nella nostra casa nel cuore di Custonaci,
        a due passi da Cornino e nelle vicinanze delle affascinanti città di Trapani e San Vito,
        rinomate per il loro fascino turistico.
        Il mare è a portata di mano per un soggiorno indimenticabile.
    </p>

    <br>

    <img src="assets/foto/la casa di Vito/facciata.jpg">

    <br><br><br>

    <div class="info-box">
        <div>Posti letto: 4</div>
        <div>Superfice: 35 m²</div>
    </div>

    <br><br>

    <h2>Una posizione strategica</h2>
    <p>
        Custonaci offre una casa incantevole a metà strada tra Trapani e San Vito.
        Ideale per esplorare la regione, è a pochi passi dal mare e circondata da riserve naturali, perfetta per gli amanti della natura.
    </p>

    <br>

    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.1625335088831!2d12.676713477697358!3d38.078528300458224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13197bae8e04c8f1%3A0x54f3a9a9ca3dabec!2sA%20Casa%20Di%20Vito!5e0!3m2!1sit!2sit!4v1716762308482!5m2!1sit!2sit" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br><br><br>

    <h4>Servizi</h4>
    <div>Balcone</div>
    <div>Aria condizionata</div>
    <div>TV a schermo piatto</div>
    <div>Riscaldamento</div>
    <div>Lavatrice</div>
    <div>Stendibiancheria</div>

    <br><br>

    <h4 class="text-center">Leggi le recensioni</h4>
    <div id="review-container">
        <img (click)="redirectTo('https://www.bedandbreakfast.eu/en/a/bhB29d1FFBLx/a-casa-di-vito')" src="assets/icons/bed-and-breakfast-in-n.svg">
        <img (click)="redirectTo('https://planetofhotels.com/it/italia/custonaci/casa-di-vito')" src="assets/icons/planetOfHotels.png">
        <img (click)="redirectTo('https://www.booking.com/hotel/it/a-casa-di-vito-custonaci.it.html')" src="assets/icons/booking.png">
        <img (click)="redirectTo('https://www.chambres-hotes.fr/chambres-hotes_a-casa-di-vito_custonaci_h4364961_it.htm')" src="assets/icons/chambres-hotes.png">
    </div>

    <br>

</div>
