<div id="container">

    <br>

    <p>
        Benvenuti alla nostra casetta nel cuore della natura, ai piedi del monte Cofano, a due passi dal mare. Qui troverete serenità e relax.
    </p>

    <br>

    <img src="assets/foto/la casa di Cofano/facciata.jpg">

    <br><br><br>

    <div class="info-box">
        <div>Posti letto: 4</div>
        <div>Superfice: 55 m²</div>
    </div>

    <br><br>

    <h2>Un paradiso naturale,</h2>
    <p>
        situato lontano dal caos del centro città e incastonato nella splendida riserva naturale di Monte Cofano.
        In questo incantevole baglio, la serenità e il silenzio regnano sovrani,
        offrendo a voi l'opportunità di allontanarvi dalla frenetica vita urbana
        e immergervi completamente nella bellezza incontaminata della natura e del mare della Sicilia.
    </p>

    <br>

    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.6563028271316!2d12.676251475365968!3d38.10166319326367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13197b661298e675%3A0x2c84eaced43c757d!2sLa%20Casa%20Di%20Cofano!5e0!3m2!1sit!2sit!4v1716759825230!5m2!1sit!2sit" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    <br><br><br>

    <h4>Servizi</h4>
    <div>Parcheggio</div>
    <div>Aria condizionata</div>
    <div>Giardino</div>
    <div>TV a schermo piatto</div>
    <div>Riscaldamento</div>
    <div>Divano letto</div>
    <div>Lavatrice</div>
    <div>Stendibiancheria</div>

    <br><br>

    <h4 class="text-center">Leggi le recensioni</h4>
    <div id="review-container">
        <img (click)="redirectTo('https://www.bedandbreakfast.eu/en/a/YznVQGGwCdOV/la-casa-di-cofano')" src="assets/icons/bed-and-breakfast-in-n.svg">
        <img (click)="redirectTo('https://www.planetofhotels.com/it/italia/custonaci/la-casa-di-cofano')" src="assets/icons/planetOfHotels.png">
        <img (click)="redirectTo('https://www.booking.com/hotel/it/la-casa-di-cofano.it.html')" src="assets/icons/booking.png">
        <img (click)="redirectTo('https://www.airbnb.it/rooms/642761850477435819')" src="assets/icons/airbnb.jpg">
    </div>

    <br>

</div>

