<div id="container">

    <img id="logo" src="assets/icons/logo.png">

    <h1>Vacanze tra mare e montagna</h1>

    <div id="spacer"></div>

    <div id="pagesLinks">
        <div (click)="goToPage('home')">Home</div>
        <div (click)="goToPage('casa-di-cofano')">Casa di Cofano</div>
        <div (click)="goToPage('casa-di-vito')">Casa di Vito</div>
    </div>

    <div ngbDropdown>
        <div ngbDropdownToggle id="dropdownToggle">
            <img *ngIf="translate.currentLang === 'it'" id="languageIcon" src="assets/icons/it_flag.png">
            <img *ngIf="translate.currentLang === 'en'" id="languageIcon" src="assets/icons/en_flag.png">
        </div>
        <div ngbDropdownMenu>
            <div class="ngbDropdownItem" ngbDropdownItem (click)="switchLanguage('it')">
                <img id="languageIcon" src="assets/icons/it_flag.png">
                Italiano
            </div>
            <div class="ngbDropdownItem" ngbDropdownItem (click)="switchLanguage('en')">
                <img id="languageIcon" src="assets/icons/en_flag.png">
                English
            </div>
        </div>
    </div>

</div>