#container {
    background-color: var(--background);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#logo {
    height: 50px;
    
    user-select: none;
}

h1 {
    white-space: nowrap;
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    
    user-select: none;
}

#spacer {
    width: -webkit-fill-available;
}

#pagesLinks {
    display: flex;
    gap: 20px;
}
#pagesLinks div{
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;

    border-bottom: 1px solid transparent;
    
    user-select: none;
}
#pagesLinks div:hover{
    border-bottom: 1px solid black;
}

#languageIcon {
    height: 30px;
}

#dropdownToggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.ngbDropdownItem {
    cursor: pointer;
    user-select: none;
}