<p id="homeText">Scegli la tua casa vacanze: rilassati e goditi mare e montagna!</p>

<div id="photoContainer">

    <div class="photo">
        <div (click)="goToPage('casa-di-cofano')">
            <h3>Casa di Cofano</h3>
            <img src="assets/foto/la casa di Cofano/facciata.jpg">
        </div>
    </div>

    <div class="photo">
        <div (click)="goToPage('casa-di-vito')">
            <h3>Casa di Vito</h3>
            <img src="assets/foto/la casa di Vito/facciata.jpg">
        </div>
    </div>

</div>