<div id="container">

    <br>

    <p>
        Scegli la tua casa vacanze:<br>
        rilassati e goditi mare e montagna!
    </p>

    <br>

    <div class="imgContainer">
        <div class="imgHeader">
            <h2>La casa di Cofano</h2>
            <a href="javascript:void(0);" (click)="goToPage('casa-di-cofano')">vedi casa</a>
        </div>
        <img src="assets/foto/la casa di Cofano/facciata.jpg">
    </div>

    <br>

    <div class="imgContainer">
        <div class="imgHeader">
            <h2>La casa di Vito</h2>
            <a href="javascript:void(0);" (click)="goToPage('casa-di-vito')">vedi casa</a>
        </div>
        <img src="assets/foto/la casa di Vito/facciata.jpg">
    </div>
    
    <br>

</div>

